@media screen and (max-width: 40rem) {
    body {
        margin: 0px auto;
    }
    /* <!-- navber --> */
    .navson1-parent{
        display: none;
    }
    nav{
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 26px;
    }
    /* <!-- banner 1--> */
    .banner1-continer{
        flex-direction: column-reverse;
        margin-bottom: 55px;
    }
    .banner1-son h1 {
        font-size: 24px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .banner1-son p {
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /* <!-- card part--> */
    .card-parent > p {
        padding: 0px 28px;
        margin-bottom: 40px;
    }
    .card-parent h1{
        margin-top: -30px;
        margin-bottom: 10px;
    }
    .card-parent > p{
        margin: 10px auto;
    }
    .card{
        grid-template-columns: repeat(2, 1fr);
    }
    .card-container{
        width: 182px;
        margin: 0px auto;
    }
    .cardimg {
        width: 92%;
        margin: 0px auto;
    }
    .cardimg img{
        width: 100%;
    }
    .btn-card{
        padding: 16px 30px;
        margin-bottom: 16px;
    }
    .card-container h4{
        margin-bottom: -15px;
        margin-top: 10px;
        font-size: 18px;
    }
    .card-container h3{
        font-size: 20px;
        margin-bottom: 10px;
    }
}